<div class="container shadow rounded mt-3 p-3">
  <h1>Bisektionsverfahren</h1>
  <p>
    Diese Seite kann mithilfe des Bisektionsverfahrens die Nullstelle von
    <var>x</var><sup>2</sup>-2 im Intervall [0,2] bis zu einer konfigurierbaren
    Nachkommastelle berechnen.
  </p>
  <form (submit)="calculate()" class="row g-3">
    <div class="col-md-6">
      <label for="m" class="form-label">Nachkommastellen</label>
      <input
        type="number"
        class="form-control"
        id="m"
        name="m"
        placeholder="m"
        [(ngModel)]="m"
      />
    </div>
    <div class="col-md-6">
      <label for="result" class="form-label">Ergebnis</label
      ><input
        type="text"
        class="form-control"
        id="result"
        name="result"
        disabled
        readonly
        [(ngModel)]="ergebnis"
      />
    </div>
    <div class="col-md-12">
      <button type="submit" class="btn btn-primary">Berechnen</button>
    </div>
  </form>
</div>
<div class="container shadow rounded mt-4 p-3">
  <h2>Wertetabelle</h2>
  <table class="table table-dark">
    <thead>
      <tr>
        <th>n</th>
        <th><var>x</var><sub>n</sub></th>
        <th>f(<var>x</var><sub>n</sub>)</th>
        <th>[<var>a</var><sub>n</sub>, <var>b</var><sub>n</sub>]</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rechenschritt of rechenschritte">
        <td>
          {{ rechenschritt.n }}
        </td>
        <td>
          {{ rechenschritt.x }}
        </td>
        <td>
          {{ rechenschritt.fx }}
        </td>
        <td>[{{ rechenschritt.a }}, {{ rechenschritt.b }}]</td>
      </tr>
    </tbody>
  </table>
</div>
